[defaults]
inventory=/home/student/ansible/inventory.ini
roles_path = /home/student/ansible/roles
remote_user=devops
#ask_pass=true 

[privilege_escalation]
become=True
become_method=sudo
become_user=root
#become_ask_pass=True


